@font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/BebasNeue.woff) format('woff');
}
body,html {
    background: #24C7ED;
    margin:0px;
    padding:0px;
    height:100%;
    font-family:'Bebas Neue';
    font-size:24px;
    overflow:hidden;
}

img {
    -webkit-user-select:none;
    -moz-user-select:none;
    -html-user-select:none;
    -o-user-select:none;
    user-select:none;
}

table,td,tr {
    padding:0px;
    border-spacing:0px;
    border:0px solid;
}

table {
    color:#fff;
    table-layout:fixed;
    overflow:hidden;
    font-size:36px;
}


td {
    text-align:center;
}

ul {
    list-style:none;
    margin:0px;
    font-size:26px;
    font-weight:300;
    padding:0px;
}

a {
    text-decoration: none !important;
}

li a, li a:visited {
    border-bottom: 1px solid #fff;
    padding: 8px 0 7px 118px;
    text-align: left;
    box-sizing: border-box;
    display:block;
    width:100%;
    color:#fff;
}

li a.prom,li a.prom:visited {
    color:#ff5500;
}

@-webkit-keyframes closeMenu {
    from {
        left:0px;
    }
    to {
        left:-300px;
    }
}

@-webkit-keyframes openMenu {
    to {
        left: 0px;
    }
}

@keyframes closeMenu {
    from {
        left:0px;
    }
    to {
        left:-300px;
    }
}

@-moz-keyframes closeMenu {
    from {
        left:0px;
    }
    to {
        left:-300px;
    }
}

@-moz-keyframes openMenu {
    to {
        left: 0px;
    }
}

@keyframes openMenu {
    to {
        left: 0px;
    }
}



#main-container.closed {
    -webkit-animation: closeMenu 0.4s cubic-bezier(.6,0,.4,1);
    -webkit-animation-fill-mode: forwards;
    -moz-animation: closeMenu 0.4s cubic-bezier(.6,0,.4,1);
    -moz-animation-fill-mode: forwards;
    animation: closeMenu 0.4s cubic-bezier(.6,0,.4,1);
    animation-fill-mode: forwards;
}

#main-container.opened {
    -webkit-animation: openMenu 0.4s cubic-bezier(.6,0,.4,1);
    -webkit-animation-fill-mode: forwards;
    -moz-animation: openMenu 0.4s cubic-bezier(.6,0,.4,1);
    -moz-animation-fill-mode: forwards;
    animation: openMenu 0.4s cubic-bezier(.6,0,.4,1);
    animation-fill-mode: forwards;
}

.footer a, .footer a:visited {
    display: inline-block;
    width: 28px;
    height: 21px;
    margin: 0 40px 0 40px;
}
.footer a svg {
    height:100%;
    width:100%;
    transition: 0.2s ease-out;
}

.footer a:hover svg {
    transform: scale(1.5,1.5);
}

.footer a:nth-child(2):hover svg {
    fill: #0982b8;
}

.footer a:nth-child(1):hover svg {
    fill: #325C94;
}

.footer a:nth-child(3):hover svg {
    fill: #ff3333;
}

div.small {

}

::-webkit-input-placeholder { color:#fff; }
::-moz-placeholder { color:#fff; } /* firefox 19+ */
:-ms-input-placeholder { color:#fff; } /* ie */
input:-moz-placeholder { color:#fff; }

.contactForm input[type="text"] {
    font-family: 'Open Sans';
    background: transparent;
    border: 2px solid #fff;
    color:#fff;
    border-radius:3px;
    height: 28px;
    font-weight: 400;
    padding:3px 8px 2px 8px;
    font-size: 12px;
    width:100%;
    box-sizing: border-box;
    outline:none;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);

}

.contactForm textarea {
    font-family: 'Open Sans';
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    font-weight: 400;
    font-size: 12px;
    background: transparent;
    border: 2px solid #fff;
    color:#fff;
    border-radius:3px;
    padding:8px;
    box-sizing: border-box;
    height:100%;
    width:100%;
    resize:none;
    display:block;
    outline:none;
    line-height: 12px;
}

.contactForm input[type=button] {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #24C7ED;
    background: #fff;
    width:80px;
    height:24px;
    float: right;
    border:none;
    border-radius: 3px;
    outline:none;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
}

.contactForm input[type=button]:hover {
    color: #fff !important;
    background: #13a4ec !important;
}

.contactForm tr:nth-child(1) td{
    padding-bottom: 10px;
}

.contactForm tr:nth-child(1) td:nth-child(1){
    padding-right: 10px;
}

.contactForm tr:nth-child(1) td:nth-child(2){
    padding-left: 10px;
}

.contactForm tr:nth-child(3) td{
    padding-top: 5px;
    vertical-align: bottom;
    height: 24px;
}

#logo {
    position:absolute;left:50%;top:30%; ; height:26%; 
    transition: top ease-out 0.3s,height ease-out 0.3s, width ease-out 0.3s;
}

#logo.small {
    top:7%;
    height:14%;
}

#logo img{
    height:100%;
}

#logo div {
    display:block;
    outline: none;
    height:100%;
    margin-left:-50%;
}

#logo a {
    height:100%;
}

#ajax_content, #ajax_content_2 {
    transition: opacity ease-out 0.3s;
    display:none;
}

#table_items img,#table_items svg {
    transition: opacity ease-out 0.3s, left ease-out 0.3s, height ease-out 0.3s;
    border:0px solid #fff;
    position:absolute;
    bottom:0px;
    display: inline;
    width:auto !important;
}

#table_items img:nth-child(1) {
    bottom:-2px;
}

#table_items svg {
    bottom:-1px;
}

#chair {
    float:right;height:100%;top:-25%;right:5%; position:relative;
    opacity: 1;
    transition: opacity ease-out 0.3;
}

#chair img {
    height:125%;
}

#chair.hidden {
    opacity:0;
}

#table_items.home svg:nth-child(2),#table_items.home svg:nth-child(3) {
    z-index: 1;
}

#table_items img:nth-child(1) {
    height:50%; left:15%;
}
#table_items svg:nth-child(2), #table_items img:nth-child(2) {
    height:23%; left:22%;
    width: 0px; !important;
}
#table_items svg:nth-child(3), #table_items img:nth-child(3) {
    height:23%; left:27%;
    width: auto !important;
}

#table_items img:nth-child(4) {
    height:13%; left:33%;
}
#table_items img:nth-child(5) {
    height:11%; left:55%;
}
#table_items img:nth-child(6) {
    height:3%; left:63%;
}
#table_items img:nth-child(7) {
    height:10%; left:67%;
}
#table_items img:nth-child(8) {
    height:22%; left:70%;
}
#table_items img:nth-child(9) {
    height:2%; left:78%;
}
#table_items img:nth-child(10) {
    height:7%; left:82%;
}

#table_items.contact img, #table_items.contact svg {
    opacity: 0;
}

#table_items.contact img:nth-child(5) {
    opacity: 1;
    height:55%;
    left:58%;
}
#table_items.contact img:nth-child(6) {
    opacity: 1;
    height:18%; left:80%;
}

#table_items.events img, #table_items.events svg {
    opacity: 0;
}

#table_items.events svg:nth-child(3) {
    opacity: 1;
    height:65%;
    left:10%;
    z-index:1;
}

#table_items.events img:nth-child(3) {
    opacity: 1;
    height:65%;
    left:10%;
}

#table_items.events img:nth-child(4) {
    opacity: 1;
    height:45%; left:25%;
}

#table_items.team img, #table_items.team svg {
    opacity: 0;
}

#table_items.team img:nth-child(7) {
    opacity: 1;
    height:45%;
    left:10%;
}

#table_items.about img, #table_items.about svg {
    opacity: 0;
}

#table_items.about img:nth-child(8) {
    opacity:1;
    height:50%; left:65%;
}
#table_items.about img:nth-child(9) {
    opacity:1;
    height:4.5%; left:86%;
}
#table_items.about img:nth-child(10) {
    opacity:1;
    height:16%; left:95%;
}

#prometheus {
    position:absolute; left:0px; top:100%; width: 100%; height: 100%;
    transition: top ease 0.3s;
}

#prometheus.visible {
    top:0%;
    z-index:100;
}

#prometheus iframe {
    height:100%; width:100%; padding:0px; margin:0px;
    border: 0px solid;
}

#page_title_container table div {
    height:12px; width:12px; border-radius:100px; background: #fff; margin:0px; display:inline-block;
    margin: 3px;
    opacity: 0.7;
    margin-bottom: 6px;
}

#page_title_container td:nth-child(2) {
    padding-left: 20px;  
}


#page_title_container table {
    transition: opacity ease-out 1s;
    opacity: 0;
}

#menu {
    position:absolute; left:50px; top:50px; height:30px; width:30px; cursor:pointer;
}

.topmost {
    z-index:1000;
}

a, .link {
    cursor:pointer;
}